@import 'sakura.css/css/sakura-dark.css';
@import 'sakura.css/css/normalize.css';
@import 'typography.css/dist/css/typography.min.css'; 


/* estilos de la barra de navegación*/
.menu {
  display: none;
  background:none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
  &:hover{
    background:none;
    color: #fff;
  }
}
.nav-links {
  width: 100%;
  display: none;
  line-height:0;
  margin: 0;
  justify-content: space-evenly;
  gap: 0.4em;
}
.nav-links a {
  font-size: 0.9rem;
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #6C7693;
  border:0;

}
:has(.menu[aria-expanded="true"]) .nav-links {
  display: flex;
}
:has(.menu[aria-expanded="true"]) .index {
  display: block !important;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: flex;
    line-height:1.618;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
}
@media (width < 50rem){
  .menu{

    display:inline-block;
  }
}
